<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Decimal Time</h3>
    </div>
    <div class="panel-body">
        <pre>{{decimalTime}}</pre>
    </div>
</div>

{{#if showStandardTime}}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Standard Time</h3>
    </div>
    <div class="panel-body">
        <pre>{{time}}</pre>
    </div>
</div>
{{/if}}