/******Global******/
body {
    margin: 15px;    
}

/******Custom******/
#coins-js-container {
    font-size: 12px;
}

#coins-js-output table,
#coins-js-output table th,
#coins-js-output table td {
    border: 1px solid #cccccc;
}

#coins-js-output table caption {
    margin: 10px 0;
    font-weight: bold;
    white-space: nowrap;
}

#coins-js-output table th,
#coins-js-output table td {
    padding: 10px;
}

#coins-js-output #input-pence {
    font-style: italic;
}

#coins-js-input {
    margin: 20px 0;
}