.Form {
  background-color: #f7f7f7;
  font-family: FuturaPT-Heavy, sans-serif;
  height: 100%;
}

.FormContainer {
  padding: 20px;
  width: 400px;
}

.Form h1 {
  text-align: center;
  font-size: 24px;
}

.Form form {
  margin: 30px;
  padding: 32px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.Form form div {
  margin-bottom: 32px;
}

.Form label,
.Form input {
  display: block;
}

.Form label {
  font-size: 14px;
}

.Form input {
  width: 90%;
  margin-top: 8px;
  font-size: 16px;
  line-height: 16px;
  border-radius: 4px;
  border: solid 1px #d9d9d9;
  padding: 16px;
}

.Form .clear {
  border: solid 1px #000;
}

.Form .submit {
  border: none;
  background-color: rgba(251, 206, 7, 0.6);
  color: #242424;
}

.Form .error input {
  border-color: red;
}

.Form .error span {
  font-size: small;
  color: red;
}
